.candidateCard {
max-width: 300px;
max-height: 400px;

background-color: #e0f4f7;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
margin: 20px;
}

.image{
    width: 300px;
    min-height: 200px;

    border: rgb(166, 3, 3) solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
}

.candidateCard:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.image:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}